/*SCSS Files*/
@use 'variables';
@use 'mixins';

/*Ecommerce Styles*/
.ecommerce{
    display: none;
    flex-direction: column;
    align-items: center;

    .ecommerce__menu{
        position: absolute;
        top: 10px;
        width: 100px;
        height: 20px;
        background-color: variables.$black;
        border-radius: 30px;
        transition: all .5s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus{
            width: 330px;
            height: 100px;
        }

        &:focus .ecommerce__menu__list-container{
            display: flex;
        }

        .ecommerce__menu__list-container{
            display: none;
            width: 200px;
            color: variables.$white;
            list-style-type: none;
            justify-content: space-around;
            align-items: center;

            .ecommerce__menu__list-container__items{
                font-size: 40px;
            }
        }
    }

    .ecommerce__main{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 100px;

        .ecommerce__main__title{
            font-family: variables.$poppins;
        }

        .ecommerce__main__products-container{
            display: flex;
            flex-direction: column;

            .ecommerce__main__products-container__item-container{
                background-color: variables.$white;
                border: 2px solid variables.$black;
                position: relative;
                width: 300px;
                height: 400px;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                flex-direction: column;

                &:hover .ecommerce__main__products-container__item-container__img{
                    scale: 1.1;
                    opacity: .4;
                }

                &:hover .ecommerce__main__products-container__item-container__description{
                    display: flex;
                }

                .ecommerce__main__products-container__item-container__description{
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    width: 250px;
                    transition: all .5s;

                    .ecommerce__main__products-container__item-container__description__text{
                        font-size: 14px;
                    }
                }

                .ecommerce__main__products-container__item-container__img{
                    width: 220px;
                    object-fit: fill;
                    transition: all .5s;
                }

                .ecommerce__main__products-container__item-container__nav{
                    display: flex;
                    width: 300px;
                    height: 40px;
                    background-color: variables.$semi-white;
                    position: absolute;
                    bottom: 0px;
                    border-radius: 10px 10px 90px 90px;
                    align-items: center;
                    justify-content: space-around;

                    .ecommerce__main__products-container__item-container__nav__price{
                        color: variables.$red;
                        font-weight: bold;
                    }

                    .ecommerce__main__products-container__item-container__nav__trolley{
                        color: variables.$medium-dark-grey;
                    }

                    .ecommerce__main__products-container__item-container__nav__chat{
                        color: variables.$medium-dark-grey;
                    }
                }
            }
        }
    }

    .ecommerce__admin{
        display: none;
        flex-direction: column;
        min-height: 100vh;

        .ecommerce__admin__nav{
            box-shadow: 1px 1px 10px variables.$grey;
            height: 100px;
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 200px;
            align-items: center;

            .ecommerce__admin__nav__return{
                position: absolute;
                left: 20px;
                top: 20px;
            }

            .ecommerce__admin__nav__title{
                margin-top: 20px;
            }

            .ecommerce__admin__nav__credentials{
                display: flex;
                align-self: flex-start;
                align-items: center;
                margin-top: 40px;
                
                .ecommerce__admin__nav__credentials__img-container{
                    display: flex;
                    margin-right: 20px;
                    margin-left: 20px;

                    .ecommerce__admin__nav__credentials__img-container__img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border: 2px solid variables.$black;
                        border-radius: 50%;
                        position: relative;
                    }

                    .ecommerce__admin__nav__credentials__img-container__inpt-container{
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .ecommerce__admin__nav__credentials__img-container__inpt-container__inpt{
                            position: absolute;
                            opacity: 0;
                            z-index: 2;
                        }

                        .ecommerce__admin__nav__credentials__img-container__inpt-container__icon{
                            position: absolute;
                            opacity: .4;
                        }
                    }
                }

                .ecommerce__admin__nav__credentials__info{

                    .ecommerce__admin__nav__credentials__info__email{
                        color: variables.$semi-grey;
                    }

                    .ecommerce__admin__nav__credentials__info__name{
                        font-weight: bold;
                    }
                }
            }
        }

        .ecommerce__admin__main{
            margin-top: 20px;

            .ecommerce__admin__main__title{
                margin-left: 20px;
                margin-bottom: 20px;
            }

            .ecommerce__admin__main__change-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;

                .ecommerce__admin__main__change-container__container{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 370px;
                    border: 2px solid variables.$black;
                    border-radius: 30px;
                    padding: 2px;
                    margin-bottom: 10px;

                    .ecommerce__admin__main__change-container__container__txt{
                        margin-left: 20px;
                    }

                    .ecommerce__admin__main__change-container__container__next-btn{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        margin-right: 20px;
                        width: 40px;
                        height: 40px;
                        background-color: variables.$grey;
                        padding: 1.4px;
                        border-radius: 50%;
                        overflow: hidden;

                        .ecommerce__admin__main__change-container__container__next-btn__icon{
                            transition: all .5s;

                            @keyframes double{
                                0%{
                                    transform: translateX(0px);
                                }

                                100%{
                                    transform: translateX(50px);
                                }
                            }

                            @keyframes double-finish{
                                0%{
                                    transform: translateX(-50px);
                                }

                                100%{
                                    transform: translateX(0px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}