/*SCSS Files*/
@use 'variables';
@use 'mixins';

/*Ecommerce Styles*/
.ecommerce{
    display: none;
    flex-direction: column;
    align-items: center;

    &__menu{
        position: fixed;
        z-index: 20;
        top: 10px;
        width: 100px;
        height: 20px;
        background-color: variables.$black;
        border-radius: 30px;
        transition: all .5s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus{
            width: 330px;
            height: 100px;
        }


        &:focus &__dots-container{
            display: none;
        }

        &:focus &__list-container{
            display: flex;
        }

        &__dots-container{
            width: 70px;
            display: flex;
            justify-content: space-around;

            &__dots{
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: variables.$white;
            }
        }

        &__list-container{
            display: none;
            width: 200px;
            color: variables.$white;
            list-style-type: none;
            justify-content: space-around;
            align-items: center;

            &__items{
                font-size: 40px;
            }
        }
    }

    &__main{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 100px;

        &__title{
            font-family: variables.$poppins;
        }

        &__products-container{
            display: flex;
            flex-direction: column;

            &__item-container{
                transition: all .5s;
                overflow-y: auto;
                overflow-x: hidden;
                background-color: variables.$white;
                border: 2px solid variables.$black;
                position: relative;
                width: 300px;
                height: 550px;
                border-radius: 30px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 20px;
                flex-direction: column;

                &__img{
                    width: 220px;
                    object-fit: fill;
                    transition: all .5s;
                }

                &__nav{
                    justify-self: flex-end;
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    align-items: center;
                    justify-content: space-around;

                    &__icon-container{
                        display: flex;
                        justify-content: space-evenly;
                        width: 600px;
                        margin-bottom: 10px;

                        &__part--two{

                            &__trolley{
                                margin-right: 5px;
                            }

                            &__heart{
                                transition: all .2s;

                                &:hover{
                                    color: variables.$red;
                                }
                            }
                        }
                    }

                    &__hr{
                        margin: 0;
                        border: .6px solid variables.$black;
                    }

                    &__description{
                        margin-top: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 250px;
                        transition: all .5s;


                        &__name{
                            align-self: flex-start;
                            position: relative;
                            right: 10px;
                        }
    
                        &__text{
                            font-size: 14px;
                        }

                        &__options{
                            margin-top: 10px;
                            display: none;

                            &__counter{
                                display: flex;
                                border: 2px solid variables.$black;
                                width: 70px;
                                font-size: 25px;
                                justify-content: space-around;
                                border-radius: 10px;

                                &__plus, &__minus{
                                    background-color: transparent;
                                    border: none;
                                }
                            }

                            &__trolley-container{
                                background-color: variables.$black;
                                display: flex;
                                justify-content: center;
                                align-items: center; 
                                width: 200px;
                                margin-left: 5px;
                                padding-top: 3px;
                                border-radius: 10px;

                                &__icon{
                                    color: variables.$white;
                                }

                                &__text{
                                    margin-left: 10px;
                                    font-weight: bold;
                                    color: variables.$white;
                                }
                            }
                        }

                        &__total-container{
                            margin-top: 10px;
                            width: 275px;
                            border: 2px solid variables.$black;
                            padding-top: 3px;
                            border-radius: 10px;
                            display: none;
                            justify-content: space-between;
                            align-items: center;

                            &__text{
                                margin-left: 10px;
                                font-weight: bold;
                            }

                            &__num{
                                font-weight: bold;
                                margin-right: 10px;
                            }
                        }

                        &__about{
                            flex-wrap: wrap;
                            margin-top: 10px;
                            display: none;
                            width: 275px;
                            align-items: center;
                            background-color: variables.$black;
                            border-radius: 10px;
                            padding: 1px;

                            &__icon{
                                margin-left: 10px;
                                border: 1px solid variables.$white;
                            }

                            &__title{
                                margin-right: 10px;
                                color: variables.$white;
                                font-weight: bold;
                            }

                            &__next{
                                position: relative;
                                left: 40px;
                                font-size: 20px;
                                color: variables.$white;

                                @keyframes rotate-arrow{
                                    0%{
                                        transform: rotate(0deg);
                                    }

                                    100%{
                                        transform: rotate(90deg);
                                    }
                                }
                            }

                            &__desnext{
                                display: none;
                                position: relative;
                                left: 40px;
                                font-size: 20px;
                                color: variables.$white;

                                @keyframes desrotate-arrow{
                                    0%{
                                        transform: rotate(90deg);
                                    }

                                    100%{
                                        transform: rotate(0deg);
                                    }
                                }
                            }

                            &__description{
                                display: none;
                                width: 0px;
                                transition: all .5s;
                                background-color: #fff;
                                height: auto;

                                @keyframes open-des{
                                    0%{
                                        width: 0px;
                                    }

                                    100%{
                                        width: 275px;
                                    }
                                }
                            }
                        }

                        &__part--two{
                            margin-top: 10px;
                            display: flex;
                            width: 600px;
                            max-width: 700px;
                            justify-content: space-evenly;

                            &__price{
                                color: variables.$red;
                                font-weight: bold;
                            }

                            &__star-container{
                                display: flex;
                                align-items: center;

                                &__star{
                                    transition: all .5s;

                                    &:hover{
                                        color: variables.$yellow;
                                    }
                                }

                                &__rate{
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ecommerce__admin{
        overflow-x: hidden;
        display: none;
        flex-direction: column;
        min-height: 100vh;
        scroll-snap-type: x mandatory;

        .ecommerce__admin__nav{
            box-shadow: 1px 1px 10px variables.$grey;
            height: 100px;
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 200px;

            .ecommerce__admin__nav__return{
                transform: translateX(20px);
                transform: translateY(20px);
                margin-left: 20px;
            }

            .ecommerce__admin__nav__title{
                margin-top: 20px;
                text-align: center;
            }

            .ecommerce__admin__nav__credentials{
                display: flex;
                align-self: flex-start;
                align-items: center;
                margin-top: 40px;
                
                .ecommerce__admin__nav__credentials__img-container{
                    display: flex;
                    margin-right: 20px;
                    margin-left: 20px;

                    .ecommerce__admin__nav__credentials__img-container__img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border: 2px solid variables.$black;
                        border-radius: 50%;
                        position: relative;
                    }

                    .ecommerce__admin__nav__credentials__img-container__inpt-container{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .ecommerce__admin__nav__credentials__img-container__inpt-container__inpt{
                            position: absolute;
                            opacity: 0;
                            z-index: 2;
                        }

                        .ecommerce__admin__nav__credentials__img-container__inpt-container__icon{
                            position: relative;
                            opacity: .4;
                            transform: translateX(-50px);
                        }
                    }
                }

                .ecommerce__admin__nav__credentials__info{

                    .ecommerce__admin__nav__credentials__info__email{
                        color: variables.$semi-grey;
                    }

                    .ecommerce__admin__nav__credentials__info__name{
                        font-weight: bold;
                    }
                }
            }
        }

        .ecommerce__admin__main{
            margin-top: 20px;
            scroll-snap-align: center;
            
            .ecommerce__admin__main__title{
                margin-left: 20px;
                margin-bottom: 20px;
            }

            .ecommerce__admin__main__change-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;

                .ecommerce__admin__main__change-container__container{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 370px;
                    border: 2px solid variables.$black;
                    border-radius: 30px;
                    padding: 2px;
                    margin-bottom: 10px;

                    .ecommerce__admin__main__change-container__container__txt{
                        margin-left: 20px;
                    }

                    .ecommerce__admin__main__change-container__container__next-btn{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        margin-right: 20px;
                        width: 40px;
                        height: 40px;
                        background-color: variables.$grey;
                        padding: 1.4px;
                        border-radius: 50%;
                        overflow: hidden;

                        // .ecommerce__admin__main__change-container__container__next-btn__icon{
                        //     transition: all .5s;

                        //     @keyframes double{
                        //         0%{
                        //             transform: translateX(0px);
                        //         }

                        //         100%{
                        //             transform: translateX(50px);
                        //         }
                        //     }

                        //     @keyframes double-finish{
                        //         0%{
                        //             transform: translateX(-50px);
                        //         }

                        //         100%{
                        //             transform: translateX(0px);
                        //         }
                        //     }
                        // }
                    }
                }
            }

            .ecommerce__admin__main__title--two{
                margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .ecommerce__admin__main__change-container--two{
                margin-left: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 370px;
                border: 2px solid variables.$black;
                border-radius: 30px;
                padding: 2px;
                margin-bottom: 10px;

                .ecommerce__admin__main__change-container--two__txt{
                    margin-left: 20px;
                }

                .ecommerce__admin__main__change-container--two__btn{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    margin-right: 20px;
                    width: 40px;
                    height: 40px;
                    background-color: variables.$grey;
                    padding: 1.4px;
                    border-radius: 50%;
                    overflow: hidden;

                    .ecommerce__admin__main__change-container--two__btn__icon{

                            @keyframes icon-down{
                                0%{
                                    transform: translateY(0px);
                                }

                                100%{
                                    transform: translateY(50px);
                                }
                            }

                        @keyframes finish-icon-down{
                            0%{
                                transform: translateY(-50px);
                            }

                            100%{
                                transform: translateY(0px);
                            }
                        }
                    }
                }
            }
        }

        .ecommerce__admin__change-page{
            display: none;
            scroll-snap-align: center;
            width: 100vw;
            background-color: variables.$white;
            flex-direction: column;

            .ecommerce__admin__change-page__title{
                margin-top: 100px;
                align-self: center;
            }

            .ecommerce__admin__change-page__return{
                position: absolute;
                left: 20px;
                top: 20px;
            }

            .ecommerce__admin__change-page__form{
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
                width: 400px;
                justify-content: space-evenly;

                .ecommerce__admin__change-page__form__info{
                }
                
                .ecommerce__admin__change-page__form__info__value{
                    font-weight: bold;
                    color: #000;
                }

                .ecommerce__admin__change-page__form__inpt{
                    margin-top: 30px;
                }

                .ecommerce__admin__change-page__form__btn{
                    background-color: variables.$black;
                    color: variables.$white;
                    width: 350px;
                    border-radius: 30px;
                    padding: 10px;
                    border: none;
                    outline: none;
                    transition: all .5s;

                    &:hover{
                        background-color: variables.$white;
                        color: variables.$black;
                        border: 2px solid variables.$black;
                    }
                }
            }
        }
    }

    .ecommerce__buy{
        display: none;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;

        .ecommerce__buy__return{
            @include mixins.return();
        }

        .ecommerce__buy__title{
            @include mixins.dashboardTitle();
        }

        .ecommerce__buy__products-container{
            margin-top: 30px;
            display: flex;
            flex-direction: column;

            .ecommerce__buy__products-container__container{
                overflow-y: scroll;
                overflow-x: hidden;
                margin: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 90vw;
                border: 2px solid variables.$black;
                border-radius: 20px;
                height: 100px;

                .ecommerce__buy__products-container__container__img{
                    width: 50px;
                    margin-left: 10px;
                }

                .ecommerce__buy__products-container__container__title{
                    font-size: 16px;
                    margin-left: 20px;
                }

                .ecommerce__buy__products-container__container__price{
                    color: variables.$red;
                    font-weight: bold;
                    margin-right: 10px;
                }
            }
        }
    }

    .ecommerce__chat-dashboard{
        display: none;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;

        .ecommerce__chat-dashboard__return{
            @include mixins.return();
        }

        .ecommerce__chat-dashboard__title{
            @include mixins.dashboardTitle();
        }

        .ecommerce__chat-dashboard__chats-container{
            margin-top: 40px;
            flex-direction: column;

            &__container{
                margin-bottom: 10px;
                align-items: center;
                display: flex;
                justify-content: space-between;
                width: 90vw;
                height: 100px;
                border: 2px solid variables.$black;
                border-radius: 10px;

                &__info-container{
                    margin-left: 10px;
                    display: flex;
                    align-items: center;

                    &__img{
                        width: 50px;
                        border-radius: 50%;
                    }

                    &__name{
                        margin-left: 5px;
                        font-weight: bold;
                    }

                    &__nick{
                        color: variables.$semi-grey;
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }

                &__product-img{
                    height: 90px;
                    margin-right: 10px;
                }
            }
        }
    }

    .ecommerce__chat{
        width: 100vw;
        height: 100vh;
        flex-direction: column;

        &__nav{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100px;
            box-shadow: 0px 0px 10px 1px variables.$semi-grey;

            &__return{
                position: absolute;
                left: 20px;
            }

            &__info-container{
                display: flex;
                align-items: center;

                &__img{
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                }

                &__name{
                    color: variables.$black;
                    font-weight: bold;
                    margin-right: 10px;
                }
            }
        }

        &__main{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;

            &__info-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__img{
                    margin-top: 30px;
                    margin-bottom: 5px;
                    color: variables.$grey;
                    width: 100px;
                    border-radius: 50%;
                    border: .5px solid variables.$black;
                }
    
                &__nick{
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 40px;
                }
            }

            &__conversation-container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100vw;

                &__user-container{
                    padding: 10px;
                    margin-right: 10px;
                    border-radius: 15px;
                    align-self: flex-end;
                    max-width: 150px;
                    margin-bottom: 10px;
                    background-color: variables.$black;
                    color: variables.$white;
                    align-self: flex-end;
                    &__text{
                        margin-left: 5px;
                    }
                }
    
                &__bot-container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-start;
                    margin-bottom: 10px;
                    padding: 10px;
                    border-radius: 15px;
                    margin-left: 10px;
                    max-width: 250px;
                    border: .8px solid variables.$black;
                }
            }
        }

        &__footer{
            width: 100vw;
            height: 90px;
            display: flex;
            align-items: center;

            &__send-container{
                position: fixed;
                bottom: 0px;
                background-color: variables.$white;
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 1px 1px 10px 0px variables.$semi-grey;

                &__inpt{
                    position: relative;
                    top: 20px;
                    align-self: center;
                }

                &__btn{
                    position: absolute;
                    right: 40px;
                }
            }
        }
    }
}