/*SCSS Files*/
@use 'variables';
@use 'mixins';

/*Log Page Styles*/
.log-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .log-page__menu{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100vw;
        bottom: 50px;
        z-index: 2;

        .log-page__menu__link{
            width: 15px;
            height: 15px;
            border: 2px solid variables.$black;
            border-radius: 50%;
            margin: 10px;
            transition: all .5s;
        }
    }

    .log-page__page--one{
        scroll-snap-align: center;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 80vh;

        .log-page__page--one__title{
            text-align: center;
            font-size: 40px;
            width: 100vw;
        }

        .log-page__page--one__logo{
            width: 400px;
        }
    }

    .log-page__page--two{
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        scroll-snap-align: center;

        .log-page__page--two__title{
            font-size: 30px;
            text-align: center;
            width: 100vw;
        }

        .log-page__page--two__products-container{
            display: flex;
            flex-direction: column;

            .log-page__page--two__products-container__marquee{
                display: flex;
                width: 100vw;

                .log-page__page--two__products-container__marquee__img{
                    width: 200px;
                }
            }
        }
    }

    .log-page__page--three{
        width: 100vw;
        height: 100vh;
        scroll-snap-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .log-page__page--three__title{
            margin-top: 40px;
            width: 100vw;
            font-size: 30px;
            text-align: center;
            margin: 20px;
        }

        .log-page__page--three__logo{
            width: 300px;
        }

        .log-page__page--three__btn-container{
            display: flex;
            flex-direction: column;
            align-items: center;

            .log-page__page--three__btn-container__btn{
                background-color: variables.$black;
                color: variables.$white;
                border: none;
                padding: 15px;
                width: 150px;
                border-radius: 30px;
                transition: all .5s;
                margin: 20px;

                &:hover{
                    background-color: variables.$white;
                    color: variables.$black;
                    border: 2px solid variables.$black;
                }
            }

            .log-page__page--three__btn-container__account{
                margin-top: 20px;

                .log-page__page--three__btn-container__account__sign-up{
                    color: variables.$sign-up;
                    font-weight: bold;
                }
            }
        }
    }
}

.log-form{
    width: 100vw;
    height: 100vh;    
    display: none;
    flex-direction: column;
    align-items: center;

    .log-form__title{
        font-size: 30px;
        margin-bottom: 100px;
    }

    .log-form__remember{
        display: flex;
        justify-content: flex-start;

        .log-form__remember__checkbox{
            width: 20px;
            margin-right: 20px;
        }
    }

    .log-form__error{
        @include mixins.errorMessage();
    }

    .log-form__btn{
        @include mixins.formBtn();
    }

    .log-form__forgot-password{
        color: variables.$log-ing;
        font-weight: bold;
        margin-top: 20px;

        &:hover{
            text-decoration: underline;
        }
    }

    .log-form__account{
        margin-top: 30px;

        .log-form__account__sign-up{
            font-weight: bold;
            color: variables.$sign-up;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.sign-up-form{
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;

    .sign-up-form__password-verification-container{
        display: flex;

        .sign-up-form__password-verification-container__bars{
            margin: 5px;
            width: 80px;
            height: 5px;
            border-radius: 30px;
            background-color: variables.$grey;
            transition: all .5s;
        }
    }

    .sign-up-form__accept{
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;

        .sign-up-form__accept__checkbox{
            width: 20px;
            margin-right: 20px;
        }

        .sign-up-form__accept__terms{

            .sign-up-form__accept__terms__link{
                color: variables.$sign-up;
            }
        }
    }

    .sign-up-form__error{
        @include mixins.errorMessage();
    }

    .sign-up-form__btn{
        @include mixins.formBtn();
    }

    .sign-up-form__account{
        margin-top: 20px;

        .sign-up-form__account__login{
            color: variables.$sign-up;
            font-weight: bold;
        }
    }
}