/*Variables*/
/*Color Variables*/
$black: #000;
$white: #fff;
$semi-white: #f5f5f5;
$sign-up: #48d;
$log-ing: #48f;
$medium-dark-grey: #666;
$semi-grey: #999;
$grey: #ddd;
$red: #e03c4c;
$green: #0f0;
$succesful-bg: #A0D8B3;
$succesful-color: #41644A;

/*Fonts Variables*/
$poppins: "Poppins", sans-serif;