/*SCSS Files*/
@use 'reset';
@use 'variables';
@use 'mixins';
@use 'log-page';
@use 'ecommerce';

/*General Styles*/
*{
    scroll-behavior: smooth;
    font-family: variables.$poppins;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}

.raro{
  display: none;
}

hr{
    width: 350px;
    margin-top: 30px;
    border: 1px solid variables.$grey;
}

.active{
    background-color: variables.$black;
}

label{
    font-family: variables.$poppins;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 30px;
    margin-bottom: 5px;
}

input{
    border: 1px solid variables.$black;
    outline: none;
    transform: all .5s;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
    font-family: variables.$poppins;

    &:hover{
        border: 1.1px solid variables.$black;
    }
}

input::placeholder{
    font-family: variables.$poppins;
}

/*Loader*/
.lds-ripple {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid variables.$black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.fa-solid{
  font-size: 25px;
}